[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pelican = "*"
markdown = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
requests = "*"
black = "*"
piexif = "*"
pillow = "*"
pelican-ipynb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
