{% extends "base.html" %}

{% block title %} &ndash; {{ _('Search') }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css"/>
{% endblock %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_content.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_set.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
          'mode' : 'json',
          'show': 10,
          'newWindow': false,
          'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
      });
    });
  </script>
{% endblock extra_js %}

{% block content %}
<article class="single">
  <header>
    <h1 id="search-results">{{ _('Search Results:') }}</h1>
  </header>
  <div>
    <ul class="list">
        <div>
            <div id="tipue_search_content"></div>
        </div>
    </ul>
  </div>
</article>
{% endblock %}